<!-- HEADER -->
<body>
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav_logo">Khooshal</a>
      <div class="nav_menu" id="nav-menu">
        <ul class="nav_list grid">
          <li class="nav_item">
            <a href="#home" class="nav_link" >
              <i class="fas fa-home nav_icon"></i> Home
            </a>
          </li>

          <li class="nav_item">
            <a href="#about" class="nav_link">
              <i class="far fa-user nav_icon"></i> About
            </a>
          </li>

          <li class="nav_item">
            <a href="#skills" class="nav_link">
              <i class="far fa-file nav_icon"></i> Skills
            </a>
          </li>

          <li class="nav_item">
            <a href="#portfolio" class="nav_link">
              <i class="fas fa-layer-group nav_icon"></i> Portfolio
            </a>
          </li>

          <li class="nav_item">
            <a href="#contact" class="nav_link">
              <i class="far fa-comment-dots nav_icon"></i> Contact
            </a>
          </li>
        </ul>
        <i class="fas fa-times nav_close" id="nav-close"></i>
      </div>

      <div class="nav_btns">
        <!-- Theme change -->
        <div class="nav_toggle" id="nav-toggle">
          <i class="fas fa-list"></i>
        </div>
      </div>
    </nav>
  </header>
  <main class="main">
    <section class="home section" id="home">
      <div class="home_container container grid">
        <div class="home_content grid">
          <div class="home_social">
            <a href="https://www.linkedin.com/in/khooshal-seechurn/" target = "_blank" class="home_social-icon">
              <i class="fab fa-linkedin"></i>
            </a>

             <a href="https://www.facebook.com/people/Khooshal-Seechurn/100005124289494/" target = "_blank" class="home_social-icon">
              <i class="fab fa-facebook-square"></i>
            </a>

             <a href="https://github.com/sklevel99" target = "_blank" class="home_social-icon">
              <i class="fab fa-github"></i>
            </a>

          </div>
          <div class="home_img">
            <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <mask id="mask0" mask-type="alpha">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
                130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
                97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
                0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
              </mask>
              <g mask="url(#mask0)">
                <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
                165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
                129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
                -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                <%= image_tag 'my.png', class: "home_blob-img"%>
                <!-- <image class="home_blob-img" x='12' y='18' xlink:href="../../assets/images/my.png"> -->
              </g>
            </svg>
          </div>
          <div class="home_data">
            <h1 class="home_title">
              Hi, I am Khooshal
            </h1>
            <h3 class="home_subtitle">
              A Developer and Financier
            </h3>
            <p class="home_description">
              High level of experience in web design and finance
            </p>
            <a href="#contact" class="button button-flex">
              CONTACT ME <i class="far fa-envelope-open button-icon"></i>
            </a>
          </div>
        </div>
        <div class="home_scroll">
          <a href="#about" class="home_scroll-button button-flex"></a>
          <i class="fas fa-mouse home_scroll-mouse"></i>
          <span class="home_scroll-name">
            SCROLL DOWN
          </span>
          <i class="fas fa-arrow-down home_scroll-arrow"></i>
        </div>
      </div>
    </section>
    <!-- ABOUT ME -->
    <section class="about section" id="about">
      <h2 class="section_title text-center">
        ABOUT ME
      </h2>
      <div class="about_container container grid">
        <div class="about_data">
          <p class="about_description">Web developer and Finance guy</p>
          <div class="about_info">
            <div>
              <span class="about_info-title"> 01+ </span>
              <span class="about_info-name">Years <br> experience</span>
            </div>

            <div>
              <span class="about_info-title"> 5+ </span>
              <span class="about_info-name"> Completed <br> projects </span>
            </div>

            <div>
              <span class="about_info-title"> 03+ </span>
              <span class="about_info-name"> Companies <br> worked </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- SKILLS -->
    <section class="skills section" id="skills">
      <h2 class="section_title text-center">SKILLS</h2>
      <span class="section_subtitle text-center">My technical level</span>
      <div class="skills_container container grid">
        <div>
          <div class="skills_content skills_open">
            <div class="skills_header">
              <i class="fas fa-code skills_icon"></i>
              <div>
                <h3 class="skills_title">Frontend Developer</h3>
                <span class="skills_subtitle">More than 1 year</span>
              </div>
              <i class="fas fa-arrow-down skills_arrow"></i>
            </div>

            <div class="skills_list grid">
              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">HTML</h4>
                  <span class="skills_number">90%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_html"></span>
                </div>
              </div>

              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">CSS</h4>
                  <span class="skills_number">90%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_css"></span>
                </div>
              </div>

              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">Javascript</h4>
                  <span class="skills_number">60%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_js"></span>
                </div>
              </div>
            </div>
          </div>
              <!-- Skill 2 -->
          <div class="skills_content skills_close">
            <div class="skills_header">
              <i class="fas fa-code-branch skills_icon"></i>
              <div>
                <h3 class="skills_title">Backend Developer</h3>
                <span class="skills_subtitle">More than 1 year</span>
              </div>
              <i class="fas fa-arrow-down skills_arrow"></i>
            </div>

            <div class="skills_list grid">
              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">Ruby</h4>
                  <span class="skills_number">90%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_ruby"></span>
                </div>
              </div>

              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">R</h4>
                  <span class="skills_number">70%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_r"></span>
                </div>
              </div>

              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">SQL</h4>
                  <span class="skills_number">55%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_sql"></span>
                </div>
              </div>
            </div>
          </div>
              <!-- Skills 3 -->
          <div class="skills_content skills_close">
            <div class="skills_header">
              <i class="fas fa-ruler-combined skills_icon"></i>
              <div>
                <h3 class="skills_title">Designer</h3>
                <span class="skills_subtitle">More than 1 year</span>
              </div>
              <i class="fas fa-arrow-down skills_arrow"></i>
            </div>

            <div class="skills_list grid">
              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">Figma</h4>
                  <span class="skills_number">90%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_figma"></span>
                </div>
              </div>

              <div class="skills_data">
                <div class="skills_title">
                  <h4 class="skills_name">Photoshop</h4>
                  <span class="skills_number">70%</span>
                </div>
                <div class="skills_bar">
                  <span class="skills_percentage skills_photoshop"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Qualification -->
    <section class="qualification section">
      <h2 class="section_title text-center">QUALIFICATIONS</h2>
      <span class="section_subtitle text-center">My personal journey</span>
      <div class="qualification_container container">
        <div class="qualification_tabs">
          <div class="qualification_button button-flex qualification_active" data-target= '#education'>
            <i class="fas fa-briefcase qualification_icon mr-1"></i>
            Work
          </div>

          <div class="qualification_button button-flex" data-target="#work">
            <i class="fas fa-user-graduate qualification_icon mr-1"></i>
            Education
          </div>
        </div>
        <div class="qualification_sections">
          <!-- Qualification Content 1 -->
          <div class="qualification_content container qualification_active" data-content id = "education">
            <!-- Qualification 1 -->
            <div class="qualification_data">
              <div></div>
              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
              <div>
                <h3 class="qualification_title">Mathematical Finance</h3>
                <span class="qualification_subtitle">Trent University</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  Sep 2019 - Present
                </div>
              </div>
            </div>
            <div class="qualification_data " id="qualification_style">
              <div class="qualification_category">
                <h3 class="qualification_title">Sales Intern</h3>
                <span class="qualification_subtitle">Vantage Marketing</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  May 2020 - Aug 2020
                </div>
              </div>

              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
            </div>
            <!-- Qualification 2 -->


            <!-- Qualification 3 -->
            <div class="qualification_data" id="qualification_style">
              <div class="qualification_category">
                <h3 class="qualification_title">Data Analytics Intern</h3>
                <span class="qualification_subtitle">KPMG</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4" ></i>
                  Sep 2020 - Dec 2020
                </div>
              </div>

              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
            </div>
            <!-- Qualification 4 -->

            <!-- <div class="qualification_none">
              <div></div>
              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
              <div>
                <h3 class="qualification_title">Web Development</h3>
                <span class="qualification_subtitle">Le Wagon</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  June 2021 - Aug 2021
                </div>
              </div>
            </div> -->
          </div>

          <!-- Qualification Content 2 -->
          <div class="qualification_content container" data-content id = "work">
            <!-- Qualification 1 -->
            <div class="qualification_data">
              <div class="qualification_category">
                <h3 class="qualification_title">Sponsorship Director</h3>
                <span class="qualification_subtitle">TMA</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  Oct 2020 - Apr 2021
                </div>
              </div>

              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
            </div>
            <!-- Qualification 2 -->
            <div class="qualification_data">
              <div></div>
              <div>
                <span class="qualification_rounder"></span>
                <span class="qualification_line"></span>
              </div>
              <div>
                <h3 class="qualification_title">Web Development </h3>
                <span class="qualification_subtitle">Le Wagon</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  June 2021 - Aug 2021
                </div>
              </div>
            </div>

            <!-- Qualification 3 -->
            <div class="qualification_data">
              <div class="qualification_category">
                <h3 class="qualification_title">Finance Intern</h3>
                <span class="qualification_subtitle">Alliance Financial</span>
                <div class="qualification_calendar">
                  <i class="far fa-calendar-alt mb-4"></i>
                  June 2021 - July 2021
                </div>
              </div>

              <div>
                <span class="qualification_rounder"></span>
                <!-- <span class="qualification_line"></span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PORTFOLIO -->
    <section class="portfolio section" id="portfolio">
      <h2 class="section_title text-center">PORTFOLIO</h2>
      <span class="section_subtitle text-center">Most recent and coming works</span>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <p class="portfolio_text text-center mt-2">MO INTERN</p>
            <%= image_tag 'mo.png', class:"d-block portfolio_image" %>
            <div class="portfolio_span">
              <a href="http://www.mo-intern.com/" target="_blank" class="portfolio_button">VISIT <i class="fas fa-arrow-right portfolio_icon"></i></a>
            </div>
          </div>
          <div class="carousel-item">
            <p class="portfolio_text text-center">YOUR EPIC TRIPS</p>
            <%= image_tag 'epic.png', class:"d-block portfolio_image" %>
            <div class="portfolio_span">
              <a href="https://airbnb-sklevel99.herokuapp.com/" target="_blank" class="portfolio_button">VISIT <i class="fas fa-arrow-right portfolio_icon"></i></a>
            </div>
          </div>
          <div class="carousel-item">
            <p class="portfolio_text text-center">COMING SOON</p>
            <%= image_tag 'your.png', class:"d-block portfolio_image" %>
            <div class="portfolio_span">
              <a href="https://www.marideal.mu/" target="_blank" class="portfolio_button">DEMO <i class="fas fa-arrow-right portfolio_icon"></i></a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>

    <!-- CONTACT ME -->
    <section class="contact section" id="contact">
      <h2 class="section_title text-center">CONTACT ME</h2>
      <span class="section_subtitle text-center">Get in touch with me</span>

      <div class="skinny_wrapper wrapper_padding text-center">
        <%= form_for Contact.new do |f| %>
          <div >
            <%= f.label :name, class: "contact_text" %><br>
            <%= f.text_field :name, required: true, class: "contact_box" %>
          </div>
          <br>
          <div>
            <%= f.label :email, class: "contact_text" %><br>
            <%= f.email_field :email, required: true, class: "contact_box" %>
          </div>
          <br>
          <div >
            <%= f.label :message, class: "contact_text" %><br>
            <%= f.text_area :message, required: true, as: :text, class: "contact_message"%>
          </div>
          <div class="hidden">
            <%= f.label :nickname %><br>
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>
          <div class="mt-2">
            <%= button_tag( :class => "contact_press") do %>
            SEND <i class="fas fa-envelope-open-text"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>
    <footer class="footer">
      <p class="footer_copy">Made with<span class="heart_icon">❤️</span> by Khooshal Seechurn</p>
      <p class="footer_copy_1">Inspired by Bedimcode</p>
    </footer>
  </main>
</body>








